.profile-list {
    list-style: none;
    padding: 0px;
}

.profile-list-item {
    padding: 10px 0px;
}

.profile-list-item:hover {
    background-color: rgba(37, 165, 65, 0.1);

}

.profile-link {
    color: black;
}

.profile-link:hover {
    color: black;
    text-decoration: none;

}

.active {
    color: green;
    text-decoration: none;
}