.all-category-slidebar {
    width: 95vw
}


.category-img {

    width: 50px !important;
}

.category-title {
    color: #444;
}

.sub-category {
    font-weight: 300;
    color: rgb(66, 65, 65);
    text-decoration: none;

}

.offcanvas-header{
    box-shadow: 0 4px 10px 0 hsla(0,0%,78.4%,.5);
    color: black!important;
    background-color: #fff;
}


@media (max-width: 768px) {
    .list-category {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}